@import url('https://fonts.googleapis.com/css?family=Galada|Raleway');


/*home page styling*/

body {
    background-color: #d4e6f1;
    font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar {
    background-color: #676767;
    border-radius: 0px;
    border: 0px;
    margin-bottom: 30px;
}

.navbar h1 {
    font-family: 'Galada', cursive;
    color: white;
    font-size: 5em;
}

.heading {
    text-align: center;
}

.menu-bar {
    text-align: center;

}

.menu-bar ul {
    float: none !important;
}

.menu-bar .navbar-nav li {
    float: none;
    display: inline-block;
    padding-right: 15px;
}

/*.menu-bar .navbar-nav li */

/*-------------------main page*/

.image {
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: auto;
    border-radius: 8px;
}

.icon {
    margin-top: 5px;
    position: relative;
    cursor: pointer;
    padding: 0;
}

.overlay {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 90%;
    height: 0;
    border-radius: 8px;
    transition: .5s ease-in-out;
}

.icon:hover .overlay {
    height: 100px;

}

.text {
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.bottom {
    width: 100%;
    background-color: #676767;
    height: 60px;
    margin-top: 20px;
}

/*-----------------secondary pages*/

#nav2 {
    background-color: #676767;
}

.navbar-default2 .navbar-nav>li>a {
    color: #fff;
}

.logo-ada {
    background: url("images/Ada_Lovelace_corrected.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;
}

.logo-grace {
    background: url("images/GHM_corrected.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;
}

.logo-jean {
    background: url("images/jean_corrected.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;
}

.logo-bletch {
    background: url("images/bletchley_corrected.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;
}

.quote {
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Raleway', sans-serif;
    border-left: 0.75px solid #676767;
    min-height: 240px;
}

.quote .text-box {
    padding-top: 3%;
}

.mini-bio {
    padding-left: 40px;
    padding-right: 40px;
    min-height: 275px;
    border-top: 0.75px solid #676767
}

.mini-bio .text-box {
    padding-top: 10%;
}

.more-info {
    color: #fff;
    background-color: #9c9b9b;
    padding-left: 40px;
    padding-right: 40px;
    border-top: 0.75px solid #676767;
    border-left: 0.75px solid #676767;
    min-height: 275px;
}

.more-info .text-box {
    padding-top: 5%;
}

.bottom2 {
    width: 100%;
    background-color: #676767;
    height: 50px;
}

/*-----------------media query*/

@media (max-width: 768px) {
    .menu-bar .navbar-nav li {
        display: block;
    }

}

/*-----------------video modal styling*/

.videoclick {
    /*margin: 20px;*/
    border-radius: 5%;
}

.modal-content {
    background-color: #9c9b9b;
    border: 1px solid #676767;
}

.modal-content iframe {
    margin: 0 auto;
    display: block;
}

.btn-default {
    background-color: #9c9b9b;
    color: #fff;
}
